div.main__circle > .circle {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}

div.main__circle {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle > h1 {
  color: rgba(14, 14, 14, 0.67);
  font-size: 100px;
  text-align: center;
  z-index: 1;
}
.circle > h1::selection {
  background-color: transparent;
}
.circle > div {
  position: absolute;
  z-index: 0;
  bottom: 0;
  transition: all 0.3s;

  width: auto;
  height: 100%;
  display: flex;
  align-items: end;
}
.waves {
  position: relative;
  width: 100%;
  transition: all 0.3s;
  margin-bottom: -7px; /*Fix for safari gap*/
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  transition: all 0.3s;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
